<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<title><%= title(@title) %></title>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 71px 0px 27px 72px;padding: 0px;border: none;width: 744px;}





.ft0{font: 13px 'Arial';line-height: 15px;}
.ft1{font: bold 13px 'Arial';line-height: 15px;}
.ft2{font: 1px 'Arial';line-height: 1px;}
.ft3{font: bold 13px 'Arial';line-height: 16px;}
.ft4{font: bold 16px 'Arial';line-height: 19px;}
.ft5{font: bold 24px 'Arial';line-height: 26px;}
.ft6{font: bold 24px 'Arial';line-height: 29px;}
.ft7{font: 13px 'Arial';line-height: 16px;}
.ft8{font: 13px 'Arial';margin-left: 8px;line-height: 16px;}
.ft9{font: 13px 'Wingdings';line-height: 13px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p1{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p2{text-align: left;padding-left: 36px;margin-top: 13px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 21px;margin-top: 59px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 274px;margin-top: 3px;margin-bottom: 0px;}
.p5{text-align: left;margin-top: 17px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: left;padding-left: 284px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: right;padding-right: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: right;padding-right: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: justify;padding-right: 72px;margin-top: 17px;margin-bottom: 0px;}
.p11{text-align: left;margin-top: 2px;margin-bottom: 0px;}
.p12{text-align: justify;padding-left: 1px;margin-top: 4px;margin-bottom: 0px;}
.p13{text-align: justify;padding-left: 20px;padding-right: 72px;margin-top: 4px;margin-bottom: 0px;text-indent: -19px;}

.td0{padding: 0px;margin: 0px;width: 438px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 227px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 15px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 360px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 21px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 191px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 410px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 98px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 12px;vertical-align: bottom;}

.tr0{height: 16px;}
.tr1{height: 18px;}
.tr2{height: 30px;}
.tr3{height: 34px;}
.tr4{height: 20px;}
.tr5{height: 24px;}
.tr6{height: 19px;}

.t0{width: 665px;font: 13px 'Arial';}
.t1{width: 396px;margin-left: 1px;margin-top: 17px;font: bold 13px 'Arial';}
.t2{width: 711px;margin-top: 394px;font: bold 13px 'Arial';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">


<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p0 ft0">POLICY NUMBER: <NOBR><%= @policy.policy_number %></NOBR></P></TD>
	<TD class="tr0 td1"><P class="p1 ft1">COMMERCIAL GENERAL LIABILITY</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr1 td1"><P class="p1 ft3">CG 20 11 01 96</P></TD>
</TR>
</TABLE>
<P class="p2 ft4">THIS ENDORSEMENT CHANGES THE POLICY. PLEASE READ IT CAREFULLY.</P>
<P class="p3 ft5">ADDITIONAL INSURED – MANAGERS OR LESSORS OF</P>
<P class="p4 ft6">PREMISES</P>
<P class="p5 ft7">This endorsement modifies insurance provided under the following:</P>
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD class="tr0 td2"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr0 td3"><P class="p6 ft0">COMMERCIAL GENERAL LIABILITY COVERAGE PART</P></TD>
	<TD class="tr0 td4"><P class="p0 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td2"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p7 ft1">SCHEDULE</P></TD>
	<TD class="tr2 td4"><P class="p0 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td2"><P class="p8 ft1">1.</P></TD>
	<TD class="tr3 td3"><P class="p6 ft0">Designation of Premises (Part Leased to You):</P></TD>
	<TD class="tr3 td4"><P class="p1 ft1"><%= @doc.var_2 %></P></TD>
</TR>
<TR>
	<TD class="tr4 td2"><P class="p8 ft1">2.</P></TD>
	<TD class="tr4 td3"><P class="p6 ft0">Name of Person or Organization (Additional Insured):</P></TD>
	<TD class="tr4 td4"><P class="p9 ft1"><%= @doc.var_3 %></P></TD>
</TR>
<TR>
	<TD class="tr5 td2"><P class="p8 ft3">3.</P></TD>
	<TD class="tr5 td3"><P class="p6 ft7">Additional Premium: Included</P></TD>
	<TD class="tr5 td4"><P class="p9 ft3"><%= @doc.var_4 %></P></TD>
</TR>
</TABLE>
<P class="p10 ft7">(If no entry appears above, the information required to complete this endorsement will be shown in the Declara- tions as applicable to this endorsement.)</P>
<P class="p10 ft7">WHO IS AN INSURED (Section <SPAN class="ft3">II</SPAN>) is amended to include as an insured the person or organization shown in the Schedule but only with respect to liability arising out of the ownership, maintenance or use of that part of the prem- ises leased to you and shown in the Schedule and subject to the following additional exclusions:</P>
<P class="p11 ft7">This insurance does not apply to:</P>
<P class="p12 ft7"><SPAN class="ft3">1.</SPAN><SPAN class="ft8">Any "occurrence" which takes place after you cease to be a tenant in that premises.</SPAN></P>
<P class="p13 ft7"><SPAN class="ft3">2.</SPAN><SPAN class="ft8">Structural alterations, new construction or demolition operations performed by or on behalf of the person or organization shown in the Schedule.</SPAN></P>
<TABLE cellpadding=0 cellspacing=0 class="t2">
<TR>
	<TD class="tr6 td5"><P class="p0 ft3">CG 20 11 01 96</P></TD>
	<TD class="tr6 td6"><P class="p0 ft7">Copyright, Insurance Services Office, Inc., 1994</P></TD>
	<TD class="tr6 td7"><P class="p0 ft3">Page 1 of 1</P></TD>
	<TD class="tr6 td8"><P class="p0 ft9"></P></TD>
</TR>
</TABLE>
</DIV>
</BODY>
</HTML>
