<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<title><%= title(@title) %></title>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 70px 0px 28px 72px;padding: 0px;border: none;width: 744px;}
#page_1 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 744px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 23px 0px 0px 0px;padding: 0px;border:none;width: 744px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 411px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 1px;padding: 0px;border:none;width: 332px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 81px 0px 0px 0px;padding: 0px;border:none;width: 711px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:254px;left:0px;z-index:-1;width:667px;height:156px;}
#page_1 #dimg1 #img1 {width:667px;height:156px;}




#page_2 {position:relative; overflow: hidden;margin: 78px 0px 28px 72px;padding: 0px;border: none;width: 711px;}
#page_2 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 672px;overflow: hidden;}
#page_2 #id_1 #id_1_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 392px;overflow: hidden;}
#page_2 #id_1 #id_1_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 280px;overflow: hidden;}
#page_2 #id_2 {border:none;margin: 696px 0px 0px 0px;padding: 0px;border:none;width: 711px;overflow: hidden;}





.ft0{font: 13px 'Arial';line-height: 15px;}
.ft1{font: bold 13px 'Arial';line-height: 15px;}
.ft2{font: 1px 'Arial';line-height: 1px;}
.ft3{font: bold 13px 'Arial';line-height: 16px;}
.ft4{font: bold 16px 'Arial';line-height: 19px;}
.ft5{font: bold 24px 'Arial';line-height: 29px;}
.ft6{font: 13px 'Arial';line-height: 16px;}
.ft7{font: bold 13px 'Arial';line-height: 14px;}
.ft8{font: 1px 'Arial';line-height: 14px;}
.ft9{font: 13px 'Arial';margin-left: 7px;line-height: 16px;}
.ft10{font: 13px 'Arial';line-height: 14px;}
.ft11{font: 13px 'Arial';margin-left: 8px;line-height: 16px;}
.ft12{font: bold 12px 'Arial';line-height: 15px;}
.ft13{font: 13px 'Wingdings';line-height: 13px;}
.ft14{font: 13px 'Arial';margin-left: 8px;line-height: 15px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p1{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p2{text-align: left;padding-left: 35px;margin-top: 13px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 172px;margin-top: 46px;margin-bottom: 0px;}
.p4{text-align: left;margin-top: 15px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 20px;margin-top: 17px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 20px;margin-top: 1px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 126px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: right;padding-right: 101px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: right;padding-right: 46px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: left;padding-left: 139px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p12{text-align: left;padding-left: 4px;padding-right: 87px;margin-top: 36px;margin-bottom: 0px;}
.p13{text-align: justify;margin-top: 0px;margin-bottom: 0px;}
.p14{text-align: justify;padding-left: 20px;padding-right: 199px;margin-top: 2px;margin-bottom: 0px;}
.p15{text-align: justify;padding-left: 48px;margin-top: 0px;margin-bottom: 0px;}
.p16{text-align: justify;padding-left: 48px;padding-right: 122px;margin-top: 0px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 42px;padding-right: 118px;margin-top: 0px;margin-bottom: 0px;text-indent: -21px;}
.p18{text-align: justify;padding-left: 42px;padding-right: 120px;margin-top: 3px;margin-bottom: 0px;text-indent: -21px;}
.p19{text-align: left;padding-left: 40px;margin-top: 3px;margin-bottom: 0px;}
.p20{text-align: justify;padding-left: 60px;padding-right: 91px;margin-top: 4px;margin-bottom: 0px;text-indent: -19px;}
.p21{text-align: justify;padding-left: 60px;padding-right: 91px;margin-top: 1px;margin-bottom: 0px;text-indent: -19px;}
.p22{text-align: left;padding-left: 100px;padding-right: 91px;margin-top: 1px;margin-bottom: 0px;text-indent: -40px;}
.p23{text-align: left;padding-left: 80px;margin-top: 3px;margin-bottom: 0px;}
.p24{text-align: justify;padding-left: 100px;padding-right: 91px;margin-top: 4px;margin-bottom: 0px;text-indent: -19px;}
.p25{text-align: justify;padding-left: 96px;margin-top: 1px;margin-bottom: 0px;}
.p26{text-align: justify;padding-left: 96px;margin-top: 4px;margin-bottom: 0px;}
.p27{text-align: justify;padding-left: 60px;padding-right: 72px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p28{text-align: justify;padding-left: 60px;padding-right: 72px;margin-top: 3px;margin-bottom: 0px;text-indent: -24px;}
.p29{text-align: justify;padding-left: 40px;padding-right: 72px;margin-top: 3px;margin-bottom: 0px;text-indent: -20px;}
.p30{text-align: justify;padding-left: 60px;padding-right: 72px;margin-top: 2px;margin-bottom: 0px;text-indent: -24px;}
.p31{text-align: justify;padding-left: 36px;margin-top: 3px;margin-bottom: 0px;}
.p32{text-align: left;padding-left: 40px;padding-right: 72px;margin-top: 4px;margin-bottom: 0px;text-indent: -40px;}
.p33{text-align: justify;padding-left: 21px;margin-top: 3px;margin-bottom: 0px;}
.p34{text-align: justify;padding-left: 40px;padding-right: 72px;margin-top: 4px;margin-bottom: 0px;text-indent: -20px;}
.p35{text-align: justify;padding-left: 40px;padding-right: 72px;margin-top: 0px;margin-bottom: 0px;text-indent: -40px;}
.p36{text-align: justify;padding-left: 40px;padding-right: 72px;margin-top: 5px;margin-bottom: 0px;text-indent: -40px;}
.p37{text-align: justify;padding-left: 20px;padding-right: 72px;margin-top: 0px;margin-bottom: 0px;text-indent: -20px;}
.p38{text-align: center;padding-left: 20px;padding-right: 130px;margin-top: 0px;margin-bottom: 0px;}
.p39{text-align: left;padding-left: 20px;padding-right: 160px;margin-top: 3px;margin-bottom: 0px;}
.p40{text-align: justify;padding-left: 39px;margin-top: 0px;margin-bottom: 0px;}
.p41{text-align: justify;padding-left: 42px;padding-right: 99px;margin-top: 0px;margin-bottom: 0px;text-indent: -21px;}
.p42{text-align: justify;padding-left: 20px;margin-top: 2px;margin-bottom: 0px;}
.p43{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p44{text-align: justify;padding-left: 20px;margin-top: 1px;margin-bottom: 0px;text-indent: -19px;}
.p45{text-align: justify;padding-left: 20px;margin-top: 5px;margin-bottom: 0px;text-indent: -19px;}
.p46{text-align: justify;margin-top: 14px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 579px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 86px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 238px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 373px;vertical-align: bottom;}
.td5{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 238px;vertical-align: bottom;}
.td6{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td7{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 138px;vertical-align: bottom;}
.td8{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 235px;vertical-align: bottom;}
.td9{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 237px;vertical-align: bottom;}
.td10{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 137px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 235px;vertical-align: bottom;}
.td12{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 237px;vertical-align: bottom;}
.td13{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 137px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 194px;vertical-align: bottom;}
.td15{padding: 0px;margin: 0px;width: 406px;vertical-align: bottom;}
.td16{padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;}
.td17{padding: 0px;margin: 0px;width: 12px;vertical-align: bottom;}
.td18{padding: 0px;margin: 0px;width: 391px;vertical-align: bottom;}
.td19{padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;}

.tr0{height: 16px;}
.tr1{height: 19px;}
.tr2{height: 15px;}
.tr3{height: 14px;}
.tr4{height: 59px;}

.t0{width: 665px;font: 13px 'Arial';}
.t1{width: 667px;margin-top: 1px;font: bold 13px 'Arial';}
.t2{width: 711px;font: bold 13px 'Arial';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">
<DIV id="dimg1">
<IMG src="IL0415_images/IL04151x1.jpg" id="img1">
</DIV>


<DIV id="id_1">
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p0 ft0">POLICY NUMBER: <NOBR><%= @policy.policy_number %></NOBR></P></TD>
	<TD class="tr0 td1"><P class="p1 ft1">INTERLINE</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr1 td1"><P class="p1 ft3">IL 04 15 04 98</P></TD>
</TR>
</TABLE>
<P class="p2 ft4">THIS ENDORSEMENT CHANGES THE POLICY. PLEASE READ IT CAREFULLY.</P>
<P class="p3 ft5">PROTECTIVE SAFEGUARDS</P>
<P class="p4 ft6">This endorsement modifies insurance provided under the following:</P>
<P class="p5 ft0">COMMERCIAL PROPERTY COVERAGE PART</P>
<P class="p6 ft6">FARM COVERAGE PART</P>
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD class="tr0 td2"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr0 td3"><P class="p0 ft2">&nbsp;</P></TD>
	<TD colspan=2 class="tr0 td4"><P class="p0 ft1">SCHEDULE*</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td9"><P class="p7 ft7">Prem.</P></TD>
	<TD class="tr3 td3"><P class="p8 ft7">Bldg.</P></TD>
	<TD class="tr3 td10"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr3 td11"><P class="p8 ft7">Protective Safeguards</P></TD>
</TR>
<TR>
	<TD class="tr2 td12"><P class="p7 ft1">No.</P></TD>
	<TD class="tr2 td6"><P class="p8 ft1">No.</P></TD>
	<TD class="tr2 td13"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p8 ft1">Symbols Applicable</P></TD>
</TR>
<TR>
	<TD class="tr4 td2"><P class="p9 ft6"><%= @doc.var_2 %></P></TD>
	<TD class="tr4 td3"><P class="p10 ft6"><%= @doc.var_3 %></P></TD>
	<TD colspan=2 class="tr4 td4"><P class="p11 ft6"><%= @doc.var_4 %></P></TD>
</TR>
</TABLE>
<P class="p12 ft6">* Information required to complete this Schedule, if not shown on this endorsement, will be shown in the Decla- rations.</P>
</DIV>
<DIV id="id_2">
<DIV id="id_2_1">
<P class="p13 ft6"><SPAN class="ft3">A.</SPAN><SPAN class="ft9">The following is added to the:</SPAN></P>
<P class="p14 ft0">Commercial Property Conditions General Conditions in the</P>
<P class="p15 ft10">Farm Property – Other Farm</P>
<P class="p16 ft0">Provisions Form – Additional Coverages, Conditions, Definitions</P>
<P class="p17 ft10">General Conditions in the Mobile Agricultural Machinery and Equipment Coverage Form</P>
<P class="p18 ft6">General Conditions in the Livestock Coverage Form</P>
<P class="p19 ft3">PROTECTIVE SAFEGUARDS</P>
<P class="p20 ft6"><SPAN class="ft3">1.</SPAN><SPAN class="ft11">As a condition of this insurance, you are required to maintain the protective devices or services listed in the Schedule above.</SPAN></P>
<P class="p21 ft6"><SPAN class="ft3">2.</SPAN><SPAN class="ft11">The protective safeguards to which this endorsement applies are identified by the following symbols:</SPAN></P>
<P class="p22 ft3"><NOBR>"P-1"</NOBR> Automatic Sprinkler System, <SPAN class="ft6">in- cluding related supervisory services.</SPAN></P>
<P class="p23 ft6">Automatic Sprinkler System means:</P>
<P class="p24 ft6"><SPAN class="ft12">a.</SPAN><SPAN class="ft11">Any automatic fire protective or ex- tinguishing system, including con- nected:</SPAN></P>
<P class="p25 ft6"><SPAN class="ft3">(1)</SPAN><SPAN class="ft11">Sprinklers and discharge nozzles;</SPAN></P>
<P class="p26 ft6"><SPAN class="ft3">(2)</SPAN><SPAN class="ft11">Ducts, pipes, valves and fittings;</SPAN></P>
</DIV>
<DIV id="id_2_2">
<P class="p27 ft6"><SPAN class="ft3">(3)</SPAN><SPAN class="ft11">Tanks, their component parts and supports; and</SPAN></P>
<P class="p28 ft6"><SPAN class="ft3">(4)</SPAN><SPAN class="ft11">Pumps and private fire protection mains.</SPAN></P>
<P class="p29 ft6"><SPAN class="ft3">b.</SPAN><SPAN class="ft11">When supplied from an automatic fire protective system:</SPAN></P>
<P class="p30 ft6"><SPAN class="ft3">(1)</SPAN><NOBR><SPAN class="ft11">Non-automatic</SPAN></NOBR> fire protective systems; and</P>
<P class="p31 ft6"><SPAN class="ft3">(2)</SPAN><SPAN class="ft11">Hydrants, standpipes and outlets.</SPAN></P>
<P class="p32 ft3"><NOBR>"P-2"</NOBR> Automatic Fire Alarm, <SPAN class="ft6">protecting the entire building, that is:</SPAN></P>
<P class="p33 ft6"><SPAN class="ft12">a.</SPAN><SPAN class="ft11">Connected to a central station; or</SPAN></P>
<P class="p34 ft6"><SPAN class="ft3">b.</SPAN><SPAN class="ft11">Reporting to a public or private fire alarm station.</SPAN></P>
<P class="p35 ft1"><NOBR>"P-3"</NOBR> Security Service, <SPAN class="ft0">with a recording system or watch clock, making hour- ly rounds covering the entire build- ing, when the premises are not in ac- tual operation.</SPAN></P>
<P class="p36 ft1"><NOBR>"P-4"</NOBR> Service Contract <SPAN class="ft0">with a privately owned fire department providing fire protection service to the described premises.</SPAN></P>
<P class="p36 ft6"><NOBR><SPAN class="ft3">"P-9"</SPAN></NOBR><SPAN class="ft3"> </SPAN>The protective system described in the Schedule.</P>
</DIV>
</DIV>
<DIV id="id_3">
<TABLE cellpadding=0 cellspacing=0 class="t2">
<TR>
	<TD class="tr1 td14"><P class="p0 ft3">IL 04 15 04 98</P></TD>
	<TD class="tr1 td15"><P class="p0 ft6">Copyright, Insurance Services Office, Inc., 1997</P></TD>
	<TD class="tr1 td16"><P class="p0 ft3">Page 1 of 2</P></TD>
	<TD class="tr1 td17"><P class="p0 ft13"></P></TD>
</TR>
</TABLE>
</DIV>
</DIV>
<DIV id="page_2">


<DIV id="id_1">
<DIV id="id_1_1">
<P class="p37 ft6"><SPAN class="ft3">B.</SPAN><SPAN class="ft9">The following is added to the EXCLUSIONS sec- tion of:</SPAN></P>
<P class="p38 ft10">CAUSES OF LOSS – BASIC FORM CAUSES OF LOSS – BROAD FORM CAUSES OF LOSS – SPECIAL FORM MORTGAGE HOLDERS ERRORS AND OMISSIONS COVERAGE FORM</P>
<P class="p39 ft0">STANDARD PROPERTY POLICY CAUSES OF LOSS FORM – FARM</P>
<P class="p40 ft10">PROPERTY</P>
<P class="p41 ft0">MOBILE AGRICULTURAL MACHINERY AND EQUIPMENT COVERAGE FORM</P>
<P class="p42 ft6">LIVESTOCK COVERAGE FORM</P>
</DIV>
<DIV id="id_1_2">
<P class="p43 ft6">We will not pay for loss or damage caused by or resulting from fire if, prior to the fire, you:</P>
<P class="p44 ft0"><SPAN class="ft1">1.</SPAN><SPAN class="ft14">Knew of any suspension or impairment in any protective safeguard listed in the Schedule above and failed to notify us of that fact; or</SPAN></P>
<P class="p45 ft6"><SPAN class="ft3">2.</SPAN><SPAN class="ft11">Failed to maintain any protective safeguard listed in the Schedule above, and over which you had control, in complete working order.</SPAN></P>
<P class="p46 ft0">If part of an Automatic Sprinkler System is shut off due to breakage, leakage, freezing condi- tions or opening of sprinkler heads, notification to us will not be necessary if you can restore full protection within 48 hours.</P>
</DIV>
</DIV>
<DIV id="id_2">
<TABLE cellpadding=0 cellspacing=0 class="t2">
<TR>
	<TD class="tr1 td14"><P class="p0 ft3">Page 2 of 2</P></TD>
	<TD class="tr1 td18"><P class="p0 ft6">Copyright, Insurance Services Office, Inc., 1997</P></TD>
	<TD class="tr1 td19"><P class="p0 ft3">IL 04 15 04 98</P></TD>
	<TD class="tr1 td17"><P class="p0 ft13"></P></TD>
</TR>
</TABLE>
</DIV>
</DIV>
</BODY>
</HTML>
