<%# Policy Docs Index %>
<%= content_for :head do %>
  <%= stylesheet_link_tag 'datatables/css/jquery.datatables.css' %>
  <%= stylesheet_link_tag 'datatables/css/jquery.datatables_themeroller.css' %>
<% end %>


    <div class="page-inner">
      <div class="page-breadcrumb">
        <ol class="breadcrumb container">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Policies", "#", class: 'active' %></li>
          <li><%= link_to @policy.policy_number, policy_path(@policy), class: 'policy_number_display' %></li>
          <li><%= link_to "Fillable Forms & Endorsements", "#", class: 'active' %></li>
        </ol>
      </div>
      <div class="page-title">
        <div class="container">
          <h3>Forms & Endorsements</h3>
        </div>
      </div>
      <div id="main-wrapper" class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-white">
              <div class="panel-heading clearfix">
                <h4 class="panel-title"><%= "Policy "+@policy.policy_number+"\'s Forms & Endorsements" %></h4>
              </div>
              <div class="panel-body">
                <div>
                  <%= link_to "Edit Forms", forms_policy_path(@policy) %>
                </div>
                <div>
                  <%= link_to "Use this as a variable reference", image_url("form reference.png") %>
                </div>
                <div class="table-responsive">
                  <table id="example" class="display table dataTable" style="width: 100%; cellspacing: 0;">
                    <thead>
                      <tr>
                        <th>Included?</th>
                        <th>Form Code</th>
                        <th>Description</th>
                        <th>Var. 1</th>
                        <th>Var. 2</th>
                        <th>Var. 3</th>
                        <th>Var. 4</th>
                        <th>Var. 5</th>
                        <th>Var. 6</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Included?</th>
                        <th>Form Code</th>
                        <th>Description</th>
                        <th>Var. 1</th>
                        <th>Var. 2</th>
                        <th>Var. 3</th>
                        <th>Var. 4</th>
                        <th>Var. 5</th>
                        <th>Var. 6</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <% @docs.each do |doc| %>
                      <tr>
                        <td><%= doc.active %></td>
                        <td><%= link_to doc.form_code, policy_doc_path(@policy, doc) %></td>
                        <td><%= doc.description %></td>
                        <td><%= doc.var_1 %></td>
                        <td><%= doc.var_2 %></td>
                        <td><%= doc.var_3 %></td>
                        <td><%= doc.var_4 %></td>
                        <td><%= doc.var_5 %></td>
                        <td><%= doc.var_6 %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div><!-- Row -->
      </div><!-- Main Wrapper -->

<!-- Javascripts -->
<%= content_for :js_includes do %>
  <%= javascript_include_tag 'moment/moment.js' %>
  <%= javascript_include_tag 'datatables/js/jquery.datatables.min.js' %>
  <%= javascript_include_tag 'pages/table-data.js' %>
<% end %>
