<p id="notice"><%= notice %></p>

<h1>Listing Policies</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <h4>Client Code</h4>
    </div>
    <div class="col-xs-2">
      <h4>Policy Number</h4>
    </div>
  </div>
  <% @policies.each do |policy| %>
    <div class="row">
      <div class="col-xs-2">
        <p class><%= policy.client_code %></p>
      </div>
      <div class="col-xs-2">
        <p class><%= policy.policy_number %></p>
      </div>
      <div class="col-xs-2">
        <%= link_to 'Show', policy %></td>
        <%= link_to 'Edit', edit_policy_path(policy) %>
        <%= link_to 'Destroy', policy, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>

  <br />
  <%= link_to 'New Policy', new_policy_path %>
</div>
