.text-center
  -if request.format == 'pdf'
    = wicked_pdf_image_tag "prime_logo_color_small.png", width: 200, height: 40
  -else
    = image_tag "prime_logo_color_small.png", width: 200, height: 40
  %h4.title= title

.page
  %section.section-small
    %p
      %span.tag Policy #:
      %span.tag= @policy.policy_number
    .row.container-fluid
      .col-xs-5.box.names
        %p.tag NAMED INSURED AND MAILING ADDRESS:
        %p.item= @policy.G
        .address
          %p.item= @policy.H
          %span.item= @policy.J + ", MI. " + @policy.L
          -#%span.item= @policy.city
          -#,
          -#%span.item= @policy.state

      .col-xs-5.box.names.pull-right
        %p.tag PRODUCER:
        %p.item= @broker.name
        %p.item= @broker.street
        %span.item= @broker.city + ", " + @broker.state + " " + @broker.zip
        -#%span.item= @broker.city
        -#,
        -#%span.item= @policy.state

  %section.section-small
    %p.text-center
      The policy period is from
      %u.strong= @policy.B
      to
      %u.strong= @policy.C
      12:01 A.M. Standard Time at the mailing address shown.
