.text-center
  -if request.format == 'pdf'
    = wicked_pdf_image_tag "prime_logo_color_small.png", width: 200, height: 40
  -else
    = image_tag "prime_logo_color_small.png", width: 200, height: 40
  %h4.title= title

.page
  %section.section-small
    %p
      %span.tag Policy #:
      %span.tag= @policy.policy_number
    .row.container-fluid
      .col-xs-5.box.names
        %p.tag NAMED INSURED AND MAILING ADDRESS:
        %p.item= @policy.name
        .address
          %p.item= @policy.street
          %span.item= @policy.city
          ,
          %span.item= @policy.state
          %span.item= @policy.city + ", " + @policy.state + " " + @policy.zip
      .col-xs-5.box.names.pull-right
        %p.tag PRODUCER:
        %p.item= @policy.broker.try(:name)
        -# @policy.agency[:name] #@broker.try[:name]

  %section.section-small
    %p.text-center
      The policy period is from
      %u.strong= @policy.effective_date
      to
      %u.strong= @policy.expiration_date
      12:01 A.M. Standard Time at the mailing address shown.
