<%# Policies Show %>
<%= content_for :head do %>
  <%= stylesheet_link_tag 'x-editable/bootstrap3-editable/css/bootstrap-editable.css' %>
  <%= stylesheet_link_tag 'x-editable/inputs-ext/typeaheadjs/lib/typeahead.js-bootstrap.css' %>
  <%= stylesheet_link_tag 'x-editable/inputs-ext/address/address.css' %>
  <%= stylesheet_link_tag 'select2/css/select2.min.css' %>
  <%= stylesheet_link_tag 'bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %>
  <%= stylesheet_link_tag 'dropzone/dropzone.min.css' %>'
  <style>
    /* not sure why this is necessary */
    main.page-content .page-inner {
      top: -18px;
    }

    main.page-content div.navbar {
      top: 0px;
    }
  </style>
<% end %>

<div class="page-inner">
  <div class="page-breadcrumb">
    <ol class="breadcrumb container">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Policies", policies_path %></li>
      <li><%= link_to @policy.policy_number, policy_path(@policy), class: 'policy_number_display' %></li>
      <li><%= link_to "Forms", "#", class: 'active' %></li>
    </ol>
  </div>
  <div class="page-title">
    <div class="container">
      <h3>Policy: <span class="policy_number_display"><%= @policy.policy_number %></span></h3>
    </div>
  </div>
  <div id="main-wrapper" class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-white">
          <div class="panel-body">
            <h2 class="no-m m-b-lg">Policy Information</h2>
            <hr>
            <h2 class="client_code_display"><%= @policy.client_code %></h2>
            <div style="float: right; margin-bottom: 10px">
              <div>
                <%= link_to policy_docs_path(@policy) do %>
                <button  class="btn btn-warning bg-warning">
                  View Fillable Forms
                </button>
                <% end %>
              </div>
              <div>
                <%= link_to download_policy_path(@policy), method: 'post' do %>
                <button class="btn btn-success bg-success" >
                  Download Non-Fillable Forms
                </button>
                <% end %>
              </div>
            </div>
            <p>Click to edit</p>
            <%= link_to "Edit Policy", policy_path(@policy) %>
            <table id="policy" class="table table-bordered table-striped" style="clear: both">
              <tbody>
                <tr>

                </tr>
                <tr>
                  <td>All Forms</td>
                  <td>
                    <%= link_to @policy.forms.split(" ").join("<br>").html_safe, "#",
                    id:'forms', class: "editable editable-click",
                    data: { url: "/policies/#{@policy.id}", pk: "#{@policy.id}",
                    title: "Check Forms", type: "checklist",
                    value: @policy.forms.split(" ").join(",") } %>
                  </td>
                </tr>

                <tr>
                  <td>Property Forms</td>
                  <td>
                    <%= link_to @policy.property_forms.split(" ").join("<br>").html_safe, "#",
                    id:'property_forms', class: "editable editable-click",
                    data: { url: "/policies/#{@policy.id}", pk: "#{@policy.id}",
                    title: "Check Forms", type: "checklist",
                    value: @policy.property_forms.split(" ").join(",") } %>
                  </td>
                </tr>

                <tr>
                  <td>General Liability Forms</td>
                  <td>
                    <%= link_to @policy.gl_forms.split(" ").join("<br>").html_safe, "#",
                    id:'gl_forms', class: "editable editable-click",
                    data: { url: "/policies/#{@policy.id}", pk: "#{@policy.id}",
                    title: "Check Forms", type: "checklist",
                    value: @policy.gl_forms.split(" ").join(",") } %>
                  </td>
                </tr>

                <tr>
                  <td>Crime Forms</td>
                  <td>
                    <%= link_to @policy.crime_forms.split(" ").join("<br>").html_safe, "#",
                    id:'crime_forms', class: "editable editable-click",
                    data: { url: "/policies/#{@policy.id}", pk: "#{@policy.id}",
                    title: "Check Forms", type: "checklist",
                    value: @policy.crime_forms.split(" ").join(",") } %>
                  </td>
                </tr>

                <tr>
                  <td>Commercial Auto Forms</td>
                  <td>
                    <%= link_to @policy.auto_forms.split(" ").join("<br>").html_safe, "#",
                    id:'auto_forms', class: "editable editable-click",
                    data: { url: "/policies/#{@policy.id}", pk: "#{@policy.id}",
                    title: "Check Forms", type: "checklist",
                    value: @policy.auto_forms.split(" ").join(",") } %>
                  </td>
                </tr>

                <tr>
                  <td>Fillable Forms</td>
                  <td>
                    <%= link_to "Use this as a variable reference", image_url("form reference.png") %>
                  </td>
                </tr>

                <% @policy.docs.each do |doc| %>
                  <tr>
                    <td><%= link_to (doc.form_code + " -- " + doc.description), policy_doc_path(@policy, doc) %></td>
                    <td>
                      <%= link_to (doc.active ? "Included" : "Excluded"), "#",
                      id: doc.id, class: "doc editable editable-click",
                      data: { url: "/policies/#{@policy.id}", pk: "#{@policy.id}",
                      title: "Fill in Variables", type: "address",
                      value: { var_1: doc.var_1, var_2: doc.var_2, var_3: doc.var_3,
                        var_4: doc.var_4, var_5: doc.var_5, var_6: doc.var_6,
                        active: doc.active } } %>
                    </td>
                    <% if doc.active %>
                    <td>
                      <%= link_to "Remove", remove_form_policy_path(@policy, doc_id: doc.id) %>
                    </td>
                    <% end %>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div><!-- Row -->
    </div><!-- Main Wrapper -->

  <!-- Javascripts -->
  <%= content_for :js_includes do %>
    <%= javascript_include_tag 'moment/moment.js' %>
    <%= javascript_include_tag 'x-editable/bootstrap3-editable/js/bootstrap-editable.js' %>
    <%= javascript_include_tag 'x-editable/inputs-ext/typeaheadjs/lib/typeahead.js' %>
    <%= javascript_include_tag 'x-editable/inputs-ext/typeaheadjs/typeaheadjs.js' %>
    <%#= javascript_include_tag 'x-editable/inputs-ext/address/address.js' %>
    <%= javascript_include_tag 'x-editable/inputs-ext/doc/doc.js' %>
    <%= javascript_include_tag 'select2/js/select2.full.min.js' %>
    <%= javascript_include_tag 'bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %>
    <%= javascript_include_tag 'pages/form-x-editable.js' %>

    <%= javascript_include_tag 'dropzone/dropzone.min.js' %>
  <% end %>
