- if @broker == nil
  %h1.bg-danger.text-danger.text-center
    Broker Not Selected
    %br
    Please Go Back and Select One.
    %br

-else
  #pdf.pdf
    -# SUMMARY OF DELCARATIONS
    .summary-page
      = render partial: 'pdf_header.html', locals: {title: "SUMMARY OF DECLARATIONS"}
      .page
        %section.section-large.descript
          .box
            %span.tag BUSINESS DESCRIPTION:
            %span.item= @policy.business_type
          .box
            %p.tag
              INSURED IS:
              %span.item.text-center= @policy.insured_type

          .box
            %p.strong THIS POLICY CONSISTS OF THE FOLLOWING COVERAGE PARTS FOR WHICH A |
              PREMIUM IS INDICATED, THIS PREMIUM MAY BE SUBJECT TO AN AUDIT. |
          .box

        %section.section-small
          .box
            .row
              .col-xs-7.text-center
                %p.tag COVERAGE PARTS
              .col-xs-3.col-xs-offset-2.text-left
                %p.tag PREMIUM
          .box
            .row
              .col-xs-6.col-xs-offset-1.text-left
                %p.item COMMERCIAL GENERAL LIABILITY
              .col-xs-1.col-xs-offset-1
                %p.item $
              .col-xs-1.col-xs-offset-1
                %p.item.text-right= displayPropertyPremium(@policy.gl.premium_total)
            .row
              .col-xs-6.col-xs-offset-1.text-left
                %p.item COMMERCIAL PROPERTY
              .col-xs-1.col-xs-offset-1
                %p.item $
              .col-xs-1.col-xs-offset-1
                %p.item.text-right= displayPropertyPremium(@policy.property.premium_total)
            .row
              .col-xs-6.col-xs-offset-1.text-left
                %p.item COMMERCIAL CRIME
              .col-xs-1.col-xs-offset-1
                %p.item $
              .col-xs-1.col-xs-offset-1
                %p.item.text-right= displayPropertyPremium(@policy.crime.premium_total)
            .row
              .col-xs-6.col-xs-offset-1.text-left
                %p.item COMMERCIAL INLAND MARINE
              .col-xs-1.col-xs-offset-1
                %p.item $
              .col-xs-1.col-xs-offset-1
                -# commercial inland marine is always excluded
                %p.item.text-right Excluded
            .row
              .col-xs-6.col-xs-offset-1.text-left
                %p.item COMMERCIAL AUTO
              .col-xs-1.col-xs-offset-1
                %p.item $
              .col-xs-1.col-xs-offset-1
                %p.item.text-right= displayPropertyPremium(@policy.auto.premium_total)
          .box
            .row
              .col-xs-6.col-xs-offset-2.text-right
                %p.tag TOTAL POLICY PREMIUM
              .col-xs-1
                %p.item $
              .col-xs-1.col-xs-offset-1
                %p.tag.text-right= displayPropertyPremium(@policy.package_premium_total)
          .box

          %p Commercial Filing Exemption- This policy is exempt from the filing |
          requirements of Section 2236 of the Insurance Code of 1956, 1956 PA 218, MCL 500.2236. |

        %section
          %p.strong Form(s) and Endorsement(s) made part of this policy at the time of issue:
          .box.forms
            %p.item= @policy.forms
          .box
          %p These Declarations and the Common Policy Declarations, if applicable, |
            together with the Common Policy Conditions, Coverage Form(s) and Endorsements, |
            if any, issued to form a part thereof, complete the above numbered policy. |

        = render partial: 'pdf_footer.html', locals: {page: 1, name:"SUM"}

    -# COMMERCIAL PROPERTY DECLARATIONS
    -if @policy.property.premium_total.to_i != 0
      .property-page
        = render partial: 'pdf_header.html', locals: {title: "COMMERCIAL PROPERTY DECLARATIONS"}
        .page
          %section.section-small
            %p These declarations must be completed by the attachment of additional |
              declarations or supplements and policy provisions for each applicable coverage. |
            %table#locations.table-striped
              %tr
                %th LOC
                %th BLDG
                %th Occupancy and Location
              - @policy.property.locations.each_with_index do |loc, i|
                %tr
                  %td= i+1
                  %td= i+1
                  %td= "#{loc.street}, #{loc.city}, #{loc.state}. #{loc.zip} occupied as #{loc.business_type}"

          %section.section-small
            %table#exposures.table-striped
              %tr
                %th COVERAGE
                %th LIMIT OF INSURANCE
                %th VALUATION
                %th CO-INS
                %th COVERED CAUSE OF LOSS
                %th THEFT
                %th DEDUCTIBLE
                %th PREMIUM
              - @policy.property.locations.first.exposures.each do |exp|
                %tr
                  -if exp.premium != 0
                    %td.text-left= exp.name
                    %td.text-right= number_to_currency(exp.limit,precision:0)
                    %td.text-center= exp.valuation
                    %td.text-center= number_to_percentage(@policy.property.locations.first.co_ins*100, precision:0)
                    %td.text-center= @policy.property.locations.first.coverage_type
                    %td.text-left= @policy.property.locations.first.theft_limit
                    %td.text-right= number_to_currency(@policy.property.locations.first.ded,precision:0)
                    %td.text-center Included
                  -else
                    %td.text-left -
                    %td.text-right -
                    %td.text-center -
                    %td.text-center -
                    %td.text-center -
                    %td.text-left
                    %td.text-right -
                    %td.text-center -
            .container
              %p.pull-left MONTHLY LIMIT OF INDEMNITY
              %p.pull-left.col-xs-offset-1 -
              %p.pull-right *Applies to Business Income Only * Ext. Period of Indemnity

          %section.section-small.descript
            .box
              %p.tag MORTGAGE HOLDER(S) AND MAILING ADDRESS
            .box.forms
              %p.item= @policy.mortgagee
            .box

          %section
            %p.strong Form(s) and Endorsement(s) made part of this policy at the time of issue:
            .box.forms
              %p.item= @policy.property_forms
            .box
            %p These Declarations and the Common Policy Declarations, if applicable, |
              together with the Common Policy Conditions, Coverage Form(s) and Endorsements, |
              if any, issued to form a part thereof, complete the above numbered policy. |

          = render partial: 'pdf_footer.html', locals: {page: 2, name: "CP"}

    -# GENERAL LIABILITY DECLARATIONS
    -if @policy.gl.premium_total.to_i != 0
      .gl-page
        = render partial: 'pdf_header.html', locals: {title: "GENERAL LIABILITY DECLARATIONS"}
        .page
          %section
            .limits-top
              %p.tag.text-center LIMITS OF INSURANCE
            .limits-base
              .row
                .col-xs-7
                  %p.item General Aggregate Limit
                .col-xs-1.text-right
                  %p.item= number_to_currency(@policy.gl.gen_agg, precision: 0)
              .row
                .col-xs-7
                  %p.item Products/Completed Operations Aggregate Limit
                .col-xs-1.text-right
                  %p.item= number_to_currency(@policy.gl.products_completed_operations, precision: 0)
              .row
                .col-xs-7
                  %p.item Each Occurrence Limit
                .col-xs-1.text-right
                  %p.item= number_to_currency(@policy.gl.each_occurence, precision: 0)
              .row
                .col-xs-7
                  %p.item Personal & Advertising Injury Limit
                .col-xs-1.text-right
                  %p.item= number_to_currency(@policy.gl.personal_advertising_injury, precision: 0)
              .row
                .col-xs-7
                  %p.item Fire Damage Limit (Damage To Premises Rented To You Limit)
                .col-xs-1.text-right
                  %p.item= number_to_currency(@policy.gl.fire_damage, precision: 0)
              .row
                .col-xs-7
                  %p.item Medical Expense Limit
                .col-xs-1.text-right
                  %p.item= number_to_currency(@policy.gl.medical_expense, precision: 0)

          %section.section-small
            .limits-top
              %p.tag.text-center ALL PREMISES YOU OWN, RENT OR OCCUPY
            .limits-top
              .row
                .col-xs-1
                  %p.tag Location
                .col-xs-6
                  %p.tag Address of all Premises you Own, Rent, or Occupy
            .limits-base
              - @policy.property.locations.each_with_index do |loc, i|
                .row
                  .col-xs-1
                    %p.item.text-center= i+1
                  .col-xs-6
                    %p.item= "#{loc.street}, #{loc.city}, #{loc.state}. #{loc.zip} "

          %section
            .exposures-top
              .row
                .col-xs-1
                  %p.tag Location
                .col-xs-4
                  %p.tag Classification
                .col-xs-2
                  %p.tag Code No.
                .col-xs-2.text-right
                  %p.tag Premium Basis
                .col-xs-2.col-xs-offset-1
                  %p.tag Premium
            .exposures-base
              - @policy.gl.exposure_gls.each do |exp|
                -if exp.cov == "GenAgg"
                  .row
                    .col-xs-1
                      %p.item.text-center= exp.loc_number.to_i
                    .col-xs-4
                      %p.item= exp.class_description
                    .col-xs-2
                      %p.item= exp.code.to_i
                    .col-xs-1.col-xs-offset-1
                      %p.item.text-center= number_to_currency(exp.premium_basis,precision:0,format:'%n')
                    .col-xs-1
                      %p.item.text-center= exp.sales_type
                    .col-xs-2
                      %p.item Included

          %section.section-small
            %p.item Audit Period (if applicable)
            %p.strong Form(s) and Endorsement(s) made part of this policy at the time of issue:
            .box.forms
              %p.item= @policy.gl_forms
            .box
            %p These Declarations and the Common Policy Declarations, if applicable, |
              together with the Common Policy Conditions, Coverage Form(s) and Endorsements, |
              if any, issued to form a part thereof, complete the above numbered policy. |

          = render partial: 'pdf_footer.html', locals: {page: 3, name: "GL"}

    -# COMMERCIAL CRIME DECLARATIONS
    -if @policy.crime.premium_total.to_i != 0
      .crime-page.ca-page
        = render partial: 'pdf_header.html', locals: {title: "COMMERCIAL CRIME DECLARATIONS"}
        .page
          %section.section-large
            .limits-top
              .row
                .col-xs-4
                  %p.tag Coverage
                .col-xs-2.col-xs-offset-1.text-center
                  %p.tag Limit Per Occurrence
                .col-xs-2.text-center
                  %p.tag Deductible
                .col-xs-2.col-xs-offset-1.text-center
                  %p.tag Premium
            .limits-base
              - @policy.crime.exposures.each do |exp|

                .row
                  - a = (exp.premium.to_i != 0 ? "Included" : "Excluded")
                  .col-xs-4
                    %p.item= exp.name
                  .col-xs-2.col-xs-offset-1.text-center
                    %p.item= a == "Excluded" ? "-" : number_to_currency(exp.limit, precision:0)
                  .col-xs-2.text-center
                    %p.item= a == "Excluded" ? "-" : number_to_currency(exp.ded_factor, precision:0)
                  .col-xs-2.col-xs-offset-1.text-center
                    %p.item= a
              -#
                .row
                  - a = (@policy.crime[:forgery_alteration][:premium].to_i != 0 ? "Included" : "Excluded")
                  .col-xs-4
                    %p.item Forgery or Alteration
                  .col-xs-2.col-xs-offset-1.text-center
                    %p.item= a == "Excluded" ? "-" : number_to_currency(@policy.crime[:forgery_alteration][:limit], precision:0)
                  .col-xs-2.text-center
                    %p.item= a == "Excluded" ? "-" : number_to_currency(@policy.crime[:deductible], precision:0)
                  .col-xs-2.col-xs-offset-1.text-center
                    %p.item= a
                .row
                  - a = (@policy.crime[:money_securities][:premium].to_i != 0 ? "Included" : "Excluded")
                  .col-xs-4
                    %p.item Inside the Premises - Theft of Money and Securities
                  .col-xs-2.col-xs-offset-1.text-center
                    %p.item= a == "Excluded" ? "-" : number_to_currency(@policy.crime[:money_securities][:limit], precision:0)
                  .col-xs-2.text-center
                    %p.item= a == "Excluded" ? "-" : number_to_currency(@policy.crime[:deductible], precision:0)
                  .col-xs-2.col-xs-offset-1.text-center
                    %p.item= a
                .row
                  - a = (@policy.crime[:money_securities][:premium].to_i != 0 ? "Included" : "Excluded")
                  .col-xs-4
                    %p.item Outside the Premises - Robbery
                  .col-xs-2.col-xs-offset-1.text-center
                    %p.item= a == "Excluded" ? "-" : number_to_currency(@policy.crime[:money_securities][:limit], precision:0)
                  .col-xs-2.text-center
                    %p.item= a == "Excluded" ? "-" : number_to_currency(@policy.crime[:deductible], precision:0)
                  .col-xs-2.col-xs-offset-1.text-center
                    %p.item= a
                .row
                  - a = (@policy.crime[:safe_burglary][:premium].to_i != 0 ? "Included" : "Excluded")
                  .col-xs-4
                    %p.item Inside the Premises - Safe Burglary
                  .col-xs-2.col-xs-offset-1.text-center
                    %p.item= a == "Excluded" ? "-" : number_to_currency(@policy.crime[:safe_burglary][:limit], precision:0)
                  .col-xs-2.text-center
                    %p.item= a == "Excluded" ? "-" : number_to_currency(@policy.crime[:deductible], precision:0)
                  .col-xs-2.col-xs-offset-1.text-center
                    %p.item= a
                .row
                  - a = (@policy.crime[:premises][:premium].to_i != 0 ? "Included" : "Excluded")
                  .col-xs-4
                    %p.item Premises Burglary
                  .col-xs-2.col-xs-offset-1.text-center
                    %p.item= a == "Excluded" ? "-" : number_to_currency(@policy.crime[:premises][:limit], precision:0)
                  .col-xs-2.text-center
                    %p.item= a == "Excluded" ? "-" : number_to_currency(@policy.crime[:deductible], precision:0)
                  .col-xs-2.col-xs-offset-1.text-center
                    %p.item= a

          %section.section-small
            %p.strong Form(s) and Endorsement(s) made part of this policy at the time of issue:
            .box.forms
              %p.item= @policy.crime_forms
            .box
            %p These Declarations and the Common Policy Declarations, if applicable, |
              together with the Common Policy Conditions, Coverage Form(s) and Endorsements, |
              if any, issued to form a part thereof, complete the above numbered policy. |

          = render partial: 'pdf_footer.html', locals: {page: 4, name: "CR"}

    -# COMMERCIAL AUTO DECLARATIONS
    -if @policy.auto.premium_total.to_i != 0
      .auto-page.ca-page
        = render partial: 'pdf_header.html', locals: {title: "COMMERCIAL AUTO DECLARATIONS"}
        .page
          %section
            .limits-top
              .row
                .col-xs-4
                  %p.tag Coverage
                .col-xs-1.text-center
                  %p.tag Covered Autos
                .col-xs-5.text-center
                  %p.tag Limit (The most we will pay for any on Accident of Loss)
                .col-xs-2.text-center
                  %p.tag Premium
            .limits-base
              .row
                .col-xs-4
                  %p.item Liability
                .col-xs-1.text-center
                  %p.item ??
                .col-xs-5.text-center
                  %p.item= #@policy.commercial_auto[:facticity]
                .col-xs-2.text-center
                  %p.item= @policy.auto.total_auto_premium.to_i != 0 ? "Included" : "N/A"
              - a = [["Personal Injury Protection (PIP) (or equivalent No-Fault Coverage)", "Separately Stated in each PIP Endorsement(s) minus $"],
                ["Added PIP (or equivalent No-Fault Coverage)", "Separately in each added PIP Endorsement(s)"],
                ["Property Protection Insurance (PPI) (Michigan Only)", "Separately Stated in each PPI Endorsement minus Deductible for each Accident"],
                ["Auto Medical Payments", ""], ["Uninsured Motorists (UM)", ""],
                ["Uninsured Motorists (when not included in UM Coverage", ""] ]
              - a.each do |cov|
                .row
                  .col-xs-4
                    %p.item= cov[0]
                  .col-xs-1.text-center
                    %p.item Excluded
                  .col-xs-5.text-center
                    %p.item= cov[1]
                  .col-xs-2.text-center
                    %p.item N/A

          %section.section-small
            .limits-top-2
              %p.tag Physical Damage
            .limits-base-2
              - a = ["Comprehensive Coverage", "Special Causes of Loss Coverage",
                "Collision Coverage", "Towing and Labor"]
              - a.each do |dmg|
                .row
                  .col-xs-4
                    %p.item= dmg
                  .col-xs-1.text-center
                    %p.item Excluded
                  .col-xs-2.col-xs-offset-5.text-center
                    %p.item N/A

          %section
            %p.strong Form(s) and Endorsement(s) made part of this policy at the time of issue:
            .box.forms
              %p.item= @policy.auto_forms
            .box
            %p These Declarations and the Common Policy Declarations, if applicable, |
              together with the Common Policy Conditions, Coverage Form(s) and Endorsements, |
              if any, issued to form a part thereof, complete the above numbered policy. |

          = render partial: 'pdf_footer.html', locals: {page: 5, name: "CA"}


-#= render partial: "mandatory_IL.html"
